<div class="author-list-item">

    <div>
            <img src="{{image}}">
    </div>

    <div class="author-list-item-content">
        <h2>{{title}} </h2>
        <div class="author-list-item-bio">
            <p>{{description}} </p>
            <div class="author-list-item-link"><a href="{{permalink}}" target="">See posts</a></div>
        </div>
    </div>

</div>
