<div class="author-list-item">

    <div>
        <a href="{{permalink}}" target="">
            <img src="{{image}}">
        </a>
    </div>

    <a href="{{permalink}}" target="">{{title}} </a>

</div>
