<div class="post-card-wrapper">
    <div class="post-card">
    
        <a href="{{permalink}}" target="">
            <img src="{{image}}" alt="{{title}}">
        </a>
    
        <div class="post-card-content">
            <div class="post-meta">
                <time datetime= "{{publication.iso8601}}">
                    {{publication.date.medium}}
                </time>
    
                {{#authors}} <a href="{{permalink}}">{{title}}</a>{{/authors}}
            </div>
            <a href="{{permalink}}" target="" class="post-title">
                <h1>{{title}} </h1>
            </a>
                {{#description}}
              <p class="post-card-description">
                {{description}}
              </p>
                      <div class="post-link"><a href="{{permalink}}" target="">Read more</a></div>
    
            {{/description}}
        </div>
    
    </div>
</div>