{{<html}}
{{$main}}

<div class="wrapper post-page">

    <div class="article-class">
        <article>
            <div class="post-header">
                <h1>{{page.title}}</h1>
                <p class="post-description">{{page.description}}</p>
                <div class="post-meta">
                    <time datetime="{{page.publication.iso8601}}">
                        {{page.publication.date.medium}}
                    </time>
                    
                    {{#page.authors}}
                    <a href="{{permalink}}">{{title}}</a>
                    {{/page.authors}}
                </div>
            </div>
            
            {{& page.contents.html}}

            <div class="share-container">
                <h4 class="shareTitle">Share</h4>
                {{#page.permalink}}
                    {{> partials.share}}
                {{/page.permalink}}
            </div>
                
            <h4 class="tagsTitle">Tags</h4> 
            <div class="tag-list">
                {{#page.tags}}
                    <a href="{{permalink}}">{{title}}</a>
                {{/page.tags}}
            </div>
                        
        </article>
    </div>

    <h4 class="related-articles-title">Related Articles</h4>    
    {{#empty(page.related)}}
    No related posts.
    {{/empty(page.related)}}
    {{^empty(page.related)}}
    <div class="grid grid-221 related-articles-grid">
        {{#page.related}}
            {{> partials.post}}
        {{/page.related}}
        </div>
    {{/empty(page.related)}}
    
</div>

{{/main}}
{{/html}}