{{<html}}
{{$main}}

<div class="wrapper tag-page">

    <h4>Articles Tagged &mdash;</h4> 

    <h1 id="tags-header">{{page.title}}</h1>

    <div class="tag-meta">
        <p>{{count(page.posts)}} posts</p>
        <div class="back-link"><a href="{{baseUrl}}/tags" target="">Back to all tags</a></div>
    </div>


    {{& page.contents.html}}
    
    {{#empty(page.posts)}}
    No post for this tag.
    {{/empty(page.posts)}}
    {{^empty(page.posts)}}
    <div class="grid grid-321">
    {{#page.posts}}
        {{> partials.post}}
    {{/page.posts}}
    </div>
    {{/empty(page.posts)}}

</div>

{{/main}}
{{/html}}
